In [1]:
import pandas as pd
data= pd.read_csv("C:/fintech_service/06_machine_learning/data/final_fliter_data2.csv")
data

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시

In [2]:
learning_place = pd.read_csv("C:/fintech_service/06_machine_learning/data/학원교습소정보_2024년08월31일기준.csv", encoding='cp949')
learning_place

C:\Users\5-06\AppData\Local\Temp\ipykernel_13304\453470025.py:1: DtypeWarning: Columns (6,22) have mixed types. Specify dtype option on import or set low_memory=False.
  learning_place = pd.read_csv("C:/fintech_service/06_machine_learning/data/학원교습소정보_2024년08월31일기준.csv", encoding='cp949')

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,교습과정목록명,교습과정명,인당수강료내용,수강료공개여부,기숙사학원여부,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,NaN,"연기(연극,뮤지컬,오페라)",,Y,N,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,"보습,",보습,,N,N,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428
3,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,보습·논술,보습·논술,,N,N,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908
4,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136611,T10,제주특별자치도교육청,제주시,교습소,3699,화가처럼그리기교습소,20050223,20050223,개원,,...,미술(월600분),미술,,N,N,제주특별자치도 제주시 서광로20길 26,", (도남동)",63201,064-758-3006,20231018
136612,T10,제주특별자치도교육청,제주시,학원,1478,화랑학원,19970307,19970307,개원,,...,"보습,",보습,,Y,N,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",63247,064-758-4722,20240825
136613,T10,제주특별자치도교육청,제주시,교습소,3000011860,화북필수학교습소,20200313,20200313,개원,,...,초등수학1,보습,"초등수학1:100000, 초등수학2:130000, 중등수학1:150000, 중등수학...",Y,N,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",63291,NaN,20240512
136614,T10,제주특별자치도교육청,제주시,교습소,3000011504,화원미술교습소,20181001,20180904,개원,,...,"미술(일반,720분)",미술,"미술(일반,720분):90000, 미술(일반, 840분):100000, 미술(일반,...",Y,N,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",63247,NaN,20231018
136615,T10,제주특별자치도교육청,제주시,학원,3000011719,흙빚는화가미술학원,20190916,20190826,개원,,...,"미술,",미술,,Y,N,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",63237,064-758-0365,20231018

In [3]:
learn_place=learning_place[['시도교육청명', '행정구역명']]
learn_place

            시도교육청명 행정구역명
0         서울특별시교육청   강남구
1         서울특별시교육청   강남구
2         서울특별시교육청   강남구
3         서울특별시교육청   강남구
4         서울특별시교육청   강남구
...            ...   ...
136611  제주특별자치도교육청   제주시
136612  제주특별자치도교육청   제주시
136613  제주특별자치도교육청   제주시
136614  제주특별자치도교육청   제주시
136615  제주특별자치도교육청   제주시

[136616 rows x 2 columns]

In [4]:
# '시도교육청' 컬럼에서 '전라북도교육청'을 '전북특별자치도교육청'으로 변경
learn_place['시도교육청명'] = learn_place['시도교육청명'].replace('전라북도교육청', '전북특별자치도교육청')

# 변경된 값 확인
learn_place['시도교육청명'].unique()

C:\Users\5-06\AppData\Local\Temp\ipykernel_13304\1460280585.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learn_place['시도교육청명'] = learn_place['시도교육청명'].replace('전라북도교육청', '전북특별자치도교육청')

array(['서울특별시교육청', '부산광역시교육청', '대구광역시교육청', '인천광역시교육청', '광주광역시교육청',
       '대전광역시교육청', '울산광역시교육청', '세종특별자치시교육청', '경기도교육청', '강원특별자치도교육청',
       '충청북도교육청', '충청남도교육청', '전북특별자치도교육청', '전라남도교육청', '경상북도교육청',
       '경상남도교육청', '제주특별자치도교육청'], dtype=object)

In [5]:
# '시도교육청' 값의 오른쪽에서 세 글자 제거
learn_place['시도교육청명'] = learn_place['시도교육청명'].str[:-3]
learn_place
# '시도교육청'과 '행정구역명' 데이터를 합쳐서 '시군구' 컬럼 생성
learn_place['시군구'] = learn_place['시도교육청명'] + ' ' + learn_place['행정구역명']
learn_place

C:\Users\5-06\AppData\Local\Temp\ipykernel_13304\439447029.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learn_place['시도교육청명'] = learn_place['시도교육청명'].str[:-3]
C:\Users\5-06\AppData\Local\Temp\ipykernel_13304\439447029.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learn_place['시군구'] = learn_place['시도교육청명'] + ' ' + learn_place['행정구역명']

         시도교육청명 행정구역명          시군구
0         서울특별시   강남구    서울특별시 강남구
1         서울특별시   강남구    서울특별시 강남구
2         서울특별시   강남구    서울특별시 강남구
3         서울특별시   강남구    서울특별시 강남구
4         서울특별시   강남구    서울특별시 강남구
...         ...   ...          ...
136611  제주특별자치도   제주시  제주특별자치도 제주시
136612  제주특별자치도   제주시  제주특별자치도 제주시
136613  제주특별자치도   제주시  제주특별자치도 제주시
136614  제주특별자치도   제주시  제주특별자치도 제주시
136615  제주특별자치도   제주시  제주특별자치도 제주시

[136616 rows x 3 columns]

In [6]:
# '시군구' 컬럼의 값별로 개수 세기
count_per_sigungu = learn_place['시군구'].value_counts().reset_index()

# 데이터프레임의 컬럼명 변경
count_per_sigungu.columns = ['시군구', '학원수']

count_per_sigungu

              시군구   학원수
0       서울특별시 강남구  3678
1         경기도 수원시  3570
2         경기도 고양시  3485
3         경기도 용인시  3328
4         경기도 성남시  3225
..            ...   ...
231      전라남도 신안군     6
232     인천광역시 옹진군     5
233      충청북도 청주시     5
234      경상북도 울릉군     4
235  경상남도 창원시(폐지)     2

[236 rows x 2 columns]

In [11]:
count_per_sigungu['시군구'].unique()

array(['서울특별시 강남구', '경기도 수원시', '경기도 고양시', '경기도 용인시', '경기도 성남시', '경기도 화성시',
       '경상남도 창원시', '전북특별자치도 전주시', '대구광역시 수성구', '서울특별시 양천구', '경기도 부천시',
       '서울특별시 송파구', '경기도 남양주시', '서울특별시 서초구', '대구광역시 달서구', '경기도 안양시',
       '충청남도 천안시', '경기도 김포시', '인천광역시 서구', '경상남도 김해시', '세종특별자치시 세종특별자치시',
       '대전광역시 서구', '서울특별시 노원구', '부산광역시 해운대구', '서울특별시 강서구', '울산광역시 남구',
       '경기도 시흥시', '경상북도 포항시', '서울특별시 강동구', '제주특별자치도 제주시', '인천광역시 연수구',
       '광주광역시 북구', '경상북도 구미시', '경기도 평택시', '광주광역시 광산구', '경상남도 진주시',
       '경기도 안산시', '대구광역시 북구', '서울특별시 마포구', '경기도 파주시', '경기도 의정부시',
       '인천광역시 남동구', '서울특별시 은평구', '대전광역시 유성구', '부산광역시 동래구', '경기도 하남시',
       '서울특별시 성북구', '서울특별시 동작구', '강원특별자치도 원주시', '인천광역시 부평구', '경상남도 양산시',
       '광주광역시 서구', '광주광역시 남구', '대구광역시 동구', '부산광역시 부산진구', '경기도 광명시',
       '서울특별시 영등포구', '경기도 광주시', '서울특별시 구로구', '서울특별시 관악구', '서울특별시 광진구',
       '서울특별시 서대문구', '경기도 군포시', '대구광역시 달성군', '전라남도 순천시', '충청북도 흥덕구',
       '울산광역시 북구', '부산광역시 사하구', '서울특별시 동대문구', '강원특별자치도 춘천시', '충청남도 아산시',
       '부산광역시 북구', '경상북도 경산시', '전북특별자치도 익산시', '전라남도 여수시', '전북특별자치도 군산시',
       '강원특별자치도 강릉시', '부산광역시 금정구', '부산광역시 남구', '서울특별시 도봉구', '경기도 구리시',
       '울산광역시 중구', '경상북도 경주시', '부산광역시 강서구', '인천광역시 미추홀구', '서울특별시 성동구',
       '경상남도 거제시', '경기도 이천시', '울산광역시 울주군', '서울특별시 중랑구', '부산광역시 기장군',
       '부산광역시 연제구', '경기도 양주시', '경기도 오산시', '전라남도 목포시', '충청북도 상당구',
       '충청북도 서원구', '부산광역시 수영구', '대전광역시 중구', '인천광역시 계양구', '충청북도 충주시',
       '제주특별자치도 서귀포시', '대구광역시 중구', '충청북도 청원구', '서울특별시 강북구', '경상북도 안동시',
       '대전광역시 동구', '광주광역시 동구', '울산광역시 동구', '서울특별시 금천구', '충청남도 서산시',
       '경기도 안성시', '대전광역시 대덕구', '경기도 의왕시', '충청남도 당진시', '서울특별시 종로구',
       '전라남도 광양시', '인천광역시 중구', '전라남도 무안군', '부산광역시 사상구', '경상남도 통영시',
       '서울특별시 용산구', '전라남도 나주시', '경상북도 김천시', '경상남도 사천시', '대구광역시 서구',
       '경기도 과천시', '충청북도 제천시', '대구광역시 남구', '경상북도 영주시', '경상북도 칠곡군',
       '전북특별자치도 정읍시', '부산광역시 서구', '경기도 양평군', '경상남도 밀양시', '전북특별자치도 완주군',
       '강원특별자치도 동해시', '충청남도 홍성군', '경상북도 상주시', '충청남도 보령시', '서울특별시 중구',
       '경기도 여주시', '강원특별자치도 속초시', '충청남도 논산시', '경기도 포천시', '충청북도 진천군',
       '경상북도 영천시', '경상남도 거창군', '부산광역시 영도구', '전북특별자치도 남원시', '충청남도 공주시',
       '경기도 동두천시', '충청남도 연기군', '경상남도 함안군', '경상북도 문경시', '경상북도 예천군',
       '충청남도 계룡시', '전북특별자치도 김제시', '부산광역시 동구', '충청북도 음성군', '충청남도 예산군',
       '강원특별자치도 삼척시', '경기도 가평군', '강원특별자치도 홍천군', '전라남도 영광군', '경상남도 창녕군',
       '경상남도 고성군', '전라남도 해남군', '전라남도 화순군', '경상북도 울진군', '전북특별자치도 고창군',
       '인천광역시 강화군', '강원특별자치도 철원군', '충청북도 증평군', '인천광역시 동구', '경상남도 함양군',
       '전북특별자치도 부안군', '충청남도 서천군', '충청남도 태안군', '부산광역시 중구', '충청남도 부여군',
       '전라남도 영암군', '충청북도 영동군', '전라남도 완도군', '강원특별자치도 태백시', '경상남도 남해군',
       '강원특별자치도 영월군', '강원특별자치도 횡성군', '전라남도 고흥군', '경상남도 합천군', '충청북도 옥천군',
       '전라남도 장성군', '경상남도 하동군', '충청남도 금산군', '경상북도 청도군', '경기도 연천군',
       '전라남도 강진군', '경상북도 성주군', '강원특별자치도 인제군', '강원특별자치도 평창군', '경상북도 의성군',
       '전라남도 보성군', '경상북도 영덕군', '강원특별자치도 양양군', '경상북도 고령군', '전라남도 진도군',
       '강원특별자치도 정선군', '충청북도 보은군', '전북특별자치도 무주군', '경상남도 산청군',
       '강원특별자치도 화천군', '전라남도 장흥군', '전라남도 담양군', '전라남도 구례군', '강원특별자치도 양구군',
       '전북특별자치도 장수군', '전북특별자치도 순창군', '경상남도 의령군', '전라남도 곡성군',
       '전북특별자치도 임실군', '경상북도 봉화군', '충청북도 단양군', '충청북도 괴산군', '경상북도 군위군',
       '강원특별자치도 고성군', '충청남도 청양군', '전북특별자치도 진안군', '전라남도 함평군', '대구광역시 군위군',
       '경상북도 영양군', '경상북도 청송군', '전라남도 신안군', '인천광역시 옹진군', '충청북도 청주시',
       '경상북도 울릉군', '경상남도 창원시(폐지)'], dtype=object)

In [7]:
# count_per_sigungu.to_csv("C:/fintech_service/06_machine_learning/data/learn_place_count_data.csv", index=False)

In [7]:
count_per_sigungu['학원수'].unique()

array([3678, 3570, 3485, 3328, 3225, 3112, 2949, 2669, 2464, 2126, 2064,
       2024, 2006, 1936, 1798, 1764, 1754, 1632, 1595, 1573, 1569, 1451,
       1448, 1427, 1385, 1362, 1358, 1349, 1345, 1300, 1292, 1288, 1275,
       1259, 1251, 1242, 1218, 1189, 1166, 1158, 1151, 1147, 1122, 1093,
       1076,  972,  964,  961,  951,  949,  928,  896,  894,  890,  862,
        856,  785,  781,  767,  746,  745,  738,  728,  724,  715,  696,
        692,  688,  674,  666,  657,  656,  632,  631,  629,  626,  610,
        604,  595,  592,  589,  579,  578,  574,  571,  569,  567,  539,
        531,  523,  518,  515,  506,  501,  497,  478,  469,  432,  424,
        420,  390,  388,  385,  380,  374,  363,  348,  335,  332,  330,
        317,  308,  303,  287,  283,  279,  266,  265,  263,  260,  258,
        255,  254,  246,  228,  223,  220,  215,  206,  192,  181,  173,
        168,  159,  157,  149,  147,  143,  139,  137,  135,  124,  120,
        116,  113,  112,  108,  106,  105,   97,   87,   86,   85,   83,
         81,   80,   79,   77,   75,   72,   71,   69,   68,   65,   61,
         60,   58,   57,   54,   53,   52,   50,   49,   48,   44,   43,
         41,   39,   38,   37,   33,   32,   31,   30,   29,   28,   27,
         26,   25,   24,   23,   22,   21,   20,   18,   17,   16,   15,
         13,   12,    9,    6,    5,    4,    2], dtype=int64)

In [8]:
# merged_final에 '분류' 데이터를 기준으로 count_per_sigungu의 '학원수' 데이터를 left join
merged_final = data.merge(count_per_sigungu[['시군구', '학원수']],
                                  left_on='분류', 
                                  right_on='시군구', 
                                  how='left')

merged_final

,시군구_x,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류,시군구_y,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군,강원특별자치도 양구군,24.0
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시,경기도 의정부시,1151.0
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시,경기도 의정부시,1151.0
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시,경기도 의정부시,1151.0
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시,경기도 의정부시,1151.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시,충청남도 서산시,363.0
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시,경상북도 안동시,390.0
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시,경상북도 구미시,1275.0
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시,경상남도 양산시,928.0
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시,전북특별자치도 남원시,137.0

In [13]:
# '시군구_y' 컬럼 삭제
merged_final = merged_final.drop(columns=['시군구_y'])
merged_final

,시군구_x,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군,24.0
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시,1151.0
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시,1151.0
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시,1151.0
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시,1151.0
...,...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시,363.0
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시,390.0
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시,1275.0
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시,928.0
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시,137.0

In [14]:
merged_final = merged_final.drop(columns=['분류'])
merged_final

,시군구_x,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,24.0
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,1151.0
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,1151.0
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,1151.0
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,1151.0
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,363.0
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,390.0
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,1275.0
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,928.0
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,137.0

In [15]:
# '시군구_x' 컬럼명을 '시군구'로 변경
merged_final = merged_final.rename(columns={'시군구_x': '시군구'})

merged_final

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,24.0
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,1151.0
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,1151.0
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,1151.0
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,1151.0
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,363.0
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,390.0
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,1275.0
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,928.0
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,137.0

In [17]:
# 필요한 경우 병합된 데이터를 저장
merged_final.to_csv("C:/fintech_service/06_machine_learning/data/final_dataset.csv", index=False)

In [18]:
# 칼럼 순서를 지정
new_column_order = ['시군구', '단지명', '전용면적(㎡)', '거래금액(만원)', '층', '건축년도', '학원수', 'date', '기준금리', '달러환율']

# 지정한 순서대로 데이터프레임의 컬럼 재배치
merged_final2 = merged_final[new_column_order]
merged_final2

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,24.0,2005-09-23,3.25,1061.83
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,1151.0,2005-10-20,3.50,1077.02
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,1151.0,2005-10-20,3.50,1077.02
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,1151.0,2005-10-30,3.50,1061.83
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,1151.0,2005-11-21,3.50,1060.19
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,363.0,2024-08-31,3.50,1408.72
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,390.0,2024-08-31,3.50,1408.72
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,1275.0,2024-08-31,3.50,1408.72
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,928.0,2024-08-31,3.50,1408.72
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,137.0,2024-08-31,3.50,1408.72

In [19]:
# 필요한 경우 병합된 데이터를 저장
merged_final2.to_csv("C:/fintech_service/06_machine_learning/data/final_dataset_final.csv", index=False)

In [16]:
# '학원수' 컬럼에서 NaN 값을 가진 행들을 확인
nan_rows = merged_final[merged_final['학원수'].isna()]

# NaN이 있는지 확인
nan_rows

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,학원수
6,경상남도 창원성산구 남양동,피오르빌,39.7000,"4,300",14,1995.0,2006-03-01,990.33,4.0,NaN
7,경상남도 창원성산구 남양동,피오르빌,49.5100,"6,950",9,1995.0,2006-03-01,990.33,4.0,NaN
8,경상남도 창원성산구 남양동,피오르빌,49.5100,"6,300",13,1995.0,2006-03-01,990.33,4.0,NaN
9,경상남도 창원성산구 대방동,대동황토방,84.1272,"24,900",12,2001.0,2006-03-01,990.33,4.0,NaN
10,경상남도 창원성산구 대방동,대방동성,60.0000,"10,120",20,1996.0,2006-03-01,990.33,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...
10040207,세종특별자치시 도담동,도램마을1단지(웅진스타클래스),59.9700,"41,000",12,2014.0,2024-08-31,1408.72,3.5,NaN
10040224,세종특별자치시 고운동,가락마을6단지(중흥S클래스프라디움),59.6866,"38,700",23,2015.0,2024-08-31,1408.72,3.5,NaN
10040233,세종특별자치시 고운동,가락마을17단지(골드클래스),59.9159,"32,500",11,2015.0,2024-08-31,1408.72,3.5,NaN
10040240,세종특별자치시 고운동,가락마을9단지(신동아 파밀리에),59.9718,"31,500",15,2015.0,2024-08-31,1408.72,3.5,NaN
10040242,세종특별자치시 도담동,중흥 그린카운티(13단지),59.1132,"38,300",13,2014.0,2024-08-31,1408.72,3.5,NaN