In [1]:
# import pandas as pd
# data= pd.read_csv("C:/fintech_service/06_machine_learning/data/final_fliter_data2.csv")
# data

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시

In [2]:
import pandas as pd
learning_place = pd.read_csv("C:/fintech_service/06_machine_learning/data/학원교습소정보_2024년08월31일기준.csv", encoding='cp949')
learning_place

C:\Users\5-06\AppData\Local\Temp\ipykernel_12348\1175705376.py:2: DtypeWarning: Columns (6,22) have mixed types. Specify dtype option on import or set low_memory=False.
  learning_place = pd.read_csv("C:/fintech_service/06_machine_learning/data/학원교습소정보_2024년08월31일기준.csv", encoding='cp949')

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,교습과정목록명,교습과정명,인당수강료내용,수강료공개여부,기숙사학원여부,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,NaN,"연기(연극,뮤지컬,오페라)",,Y,N,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,"보습,",보습,,N,N,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428
3,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,보습·논술,보습·논술,,N,N,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908
4,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136611,T10,제주특별자치도교육청,제주시,교습소,3699,화가처럼그리기교습소,20050223,20050223,개원,,...,미술(월600분),미술,,N,N,제주특별자치도 제주시 서광로20길 26,", (도남동)",63201,064-758-3006,20231018
136612,T10,제주특별자치도교육청,제주시,학원,1478,화랑학원,19970307,19970307,개원,,...,"보습,",보습,,Y,N,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",63247,064-758-4722,20240825
136613,T10,제주특별자치도교육청,제주시,교습소,3000011860,화북필수학교습소,20200313,20200313,개원,,...,초등수학1,보습,"초등수학1:100000, 초등수학2:130000, 중등수학1:150000, 중등수학...",Y,N,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",63291,NaN,20240512
136614,T10,제주특별자치도교육청,제주시,교습소,3000011504,화원미술교습소,20181001,20180904,개원,,...,"미술(일반,720분)",미술,"미술(일반,720분):90000, 미술(일반, 840분):100000, 미술(일반,...",Y,N,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",63247,NaN,20231018
136615,T10,제주특별자치도교육청,제주시,학원,3000011719,흙빚는화가미술학원,20190916,20190826,개원,,...,"미술,",미술,,Y,N,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",63237,064-758-0365,20231018

In [4]:
learning_place.isna().sum()

시도교육청코드           0
시도교육청명            0
행정구역명           142
학원교습소구분명          0
학원지정번호            0
학원명               0
개설일자              0
등록일자              0
등록상태명             0
휴원시작일자            0
휴원종료일자            0
정원합계              0
일시수용능력인원합계        0
분야명               4
교습계열명         17050
교습과정목록명       37580
교습과정명         17025
인당수강료내용           0
수강료공개여부           0
기숙사학원여부           0
시설도로명주소           0
시설도로명상세주소         0
시설도로명우편번호         0
전화번호          54542
수정일자              0
dtype: int64

In [5]:
learn_place=learning_place[['시도교육청명', '행정구역명']]
learn_place

            시도교육청명 행정구역명
0         서울특별시교육청   강남구
1         서울특별시교육청   강남구
2         서울특별시교육청   강남구
3         서울특별시교육청   강남구
4         서울특별시교육청   강남구
...            ...   ...
136611  제주특별자치도교육청   제주시
136612  제주특별자치도교육청   제주시
136613  제주특별자치도교육청   제주시
136614  제주특별자치도교육청   제주시
136615  제주특별자치도교육청   제주시

[136616 rows x 2 columns]

In [6]:
learn_place.isna().sum()

시도교육청명      0
행정구역명     142
dtype: int64

In [7]:
# '시도교육청' 컬럼에서 '전라북도교육청'을 '전북특별자치도교육청'으로 변경
learn_place['시도교육청명'] = learn_place['시도교육청명'].replace('전라북도교육청', '전북특별자치도교육청')

# 변경된 값 확인
learn_place['시도교육청명'].unique()

C:\Users\5-06\AppData\Local\Temp\ipykernel_12348\1460280585.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learn_place['시도교육청명'] = learn_place['시도교육청명'].replace('전라북도교육청', '전북특별자치도교육청')

array(['서울특별시교육청', '부산광역시교육청', '대구광역시교육청', '인천광역시교육청', '광주광역시교육청',
       '대전광역시교육청', '울산광역시교육청', '세종특별자치시교육청', '경기도교육청', '강원특별자치도교육청',
       '충청북도교육청', '충청남도교육청', '전북특별자치도교육청', '전라남도교육청', '경상북도교육청',
       '경상남도교육청', '제주특별자치도교육청'], dtype=object)

In [8]:
# '시도교육청' 값의 오른쪽에서 세 글자 제거
learn_place['시도교육청명'] = learn_place['시도교육청명'].str[:-3]
learn_place
# '시도교육청'과 '행정구역명' 데이터를 합쳐서 '시군구' 컬럼 생성
learn_place['시군구'] = learn_place['시도교육청명'] + ' ' + learn_place['행정구역명']
learn_place

C:\Users\5-06\AppData\Local\Temp\ipykernel_12348\439447029.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learn_place['시도교육청명'] = learn_place['시도교육청명'].str[:-3]
C:\Users\5-06\AppData\Local\Temp\ipykernel_12348\439447029.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learn_place['시군구'] = learn_place['시도교육청명'] + ' ' + learn_place['행정구역명']

         시도교육청명 행정구역명          시군구
0         서울특별시   강남구    서울특별시 강남구
1         서울특별시   강남구    서울특별시 강남구
2         서울특별시   강남구    서울특별시 강남구
3         서울특별시   강남구    서울특별시 강남구
4         서울특별시   강남구    서울특별시 강남구
...         ...   ...          ...
136611  제주특별자치도   제주시  제주특별자치도 제주시
136612  제주특별자치도   제주시  제주특별자치도 제주시
136613  제주특별자치도   제주시  제주특별자치도 제주시
136614  제주특별자치도   제주시  제주특별자치도 제주시
136615  제주특별자치도   제주시  제주특별자치도 제주시

[136616 rows x 3 columns]

 '세종특별자치시 세종특별자치시','경상남도 창원시(폐지)' -처리해주기

In [9]:
# '시도교육청' 컬럼에서 '전라북도교육청'을 '전북특별자치도교육청'으로 변경
learn_place['시군구'] = learn_place['시군구'].replace( '세종특별자치시 세종특별자치시', '세종특별자치시')
learn_place['시군구'] = learn_place['시군구'].replace( '경상남도 창원시(폐지)', '경상남도 창원시')

C:\Users\5-06\AppData\Local\Temp\ipykernel_12348\1379825619.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learn_place['시군구'] = learn_place['시군구'].replace( '세종특별자치시 세종특별자치시', '세종특별자치시')
C:\Users\5-06\AppData\Local\Temp\ipykernel_12348\1379825619.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  learn_place['시군구'] = learn_place['시군구'].replace( '경상남도 창원시(폐지)', '경상남도 창원시')

In [10]:
learn_place.isna().sum()

시도교육청명      0
행정구역명     142
시군구       142
dtype: int64

In [16]:
# 결측값을 가진 행만 선택하는 코드
miss=learn_place[learn_place.isnull().any(axis=1)]
miss

       시도교육청명 행정구역명  시군구
26061   서울특별시   NaN  NaN
26062   서울특별시   NaN  NaN
26063   서울특별시   NaN  NaN
26064   서울특별시   NaN  NaN
26065   서울특별시   NaN  NaN
...       ...   ...  ...
107667   충청북도   NaN  NaN
112005   충청남도   NaN  NaN
126180   경상북도   NaN  NaN
134882   경상남도   NaN  NaN
134883   경상남도   NaN  NaN

[142 rows x 3 columns]

In [17]:
miss['시도교육청명'].unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '울산광역시', '경기도',
       '강원특별자치도', '충청북도', '충청남도', '경상북도', '경상남도'], dtype=object)

In [11]:
learn_place['시군구'].unique()

array(['서울특별시 강남구', '서울특별시 강동구', '서울특별시 강북구', '서울특별시 강서구', '서울특별시 관악구',
       '서울특별시 광진구', '서울특별시 구로구', '서울특별시 금천구', '서울특별시 노원구', '서울특별시 도봉구',
       '서울특별시 동대문구', '서울특별시 동작구', '서울특별시 마포구', '서울특별시 서대문구', '서울특별시 서초구',
       '서울특별시 성동구', '서울특별시 성북구', '서울특별시 송파구', '서울특별시 양천구', '서울특별시 영등포구',
       '서울특별시 용산구', '서울특별시 은평구', '서울특별시 종로구', '서울특별시 중구', '서울특별시 중랑구',
       nan, '부산광역시 강서구', '부산광역시 금정구', '부산광역시 기장군', '부산광역시 남구', '부산광역시 동구',
       '부산광역시 동래구', '부산광역시 부산진구', '부산광역시 북구', '부산광역시 사상구', '부산광역시 사하구',
       '부산광역시 서구', '부산광역시 수영구', '부산광역시 연제구', '부산광역시 영도구', '부산광역시 중구',
       '부산광역시 해운대구', '대구광역시 군위군', '대구광역시 남구', '대구광역시 달서구', '대구광역시 달성군',
       '대구광역시 동구', '대구광역시 북구', '대구광역시 서구', '대구광역시 수성구', '대구광역시 중구',
       '인천광역시 강화군', '인천광역시 계양구', '인천광역시 남동구', '인천광역시 동구', '인천광역시 미추홀구',
       '인천광역시 부평구', '인천광역시 서구', '인천광역시 연수구', '인천광역시 옹진군', '인천광역시 중구',
       '광주광역시 광산구', '광주광역시 남구', '광주광역시 동구', '광주광역시 북구', '광주광역시 서구',
       '대전광역시 대덕구', '대전광역시 동구', '대전광역시 서구', '대전광역시 유성구', '대전광역시 중구',
       '울산광역시 남구', '울산광역시 동구', '울산광역시 북구', '울산광역시 울주군', '울산광역시 중구',
       '세종특별자치시', '경기도 가평군', '경기도 고양시', '경기도 과천시', '경기도 광명시', '경기도 광주시',
       '경기도 구리시', '경기도 군포시', '경기도 김포시', '경기도 남양주시', '경기도 동두천시', '경기도 부천시',
       '경기도 성남시', '경기도 수원시', '경기도 시흥시', '경기도 안산시', '경기도 안성시', '경기도 안양시',
       '경기도 양주시', '경기도 양평군', '경기도 여주시', '경기도 연천군', '경기도 오산시', '경기도 용인시',
       '경기도 의왕시', '경기도 의정부시', '경기도 이천시', '경기도 파주시', '경기도 평택시', '경기도 포천시',
       '경기도 하남시', '경기도 화성시', '강원특별자치도 강릉시', '강원특별자치도 고성군', '강원특별자치도 동해시',
       '강원특별자치도 삼척시', '강원특별자치도 속초시', '강원특별자치도 양구군', '강원특별자치도 양양군',
       '강원특별자치도 영월군', '강원특별자치도 원주시', '강원특별자치도 인제군', '강원특별자치도 정선군',
       '강원특별자치도 철원군', '강원특별자치도 춘천시', '강원특별자치도 태백시', '강원특별자치도 평창군',
       '강원특별자치도 홍천군', '강원특별자치도 화천군', '강원특별자치도 횡성군', '충청북도 괴산군',
       '충청북도 단양군', '충청북도 보은군', '충청북도 상당구', '충청북도 서원구', '충청북도 영동군',
       '충청북도 옥천군', '충청북도 음성군', '충청북도 제천시', '충청북도 증평군', '충청북도 진천군',
       '충청북도 청원구', '충청북도 청주시', '충청북도 충주시', '충청북도 흥덕구', '충청남도 계룡시',
       '충청남도 공주시', '충청남도 금산군', '충청남도 논산시', '충청남도 당진시', '충청남도 보령시',
       '충청남도 부여군', '충청남도 서산시', '충청남도 서천군', '충청남도 아산시', '충청남도 연기군',
       '충청남도 예산군', '충청남도 천안시', '충청남도 청양군', '충청남도 태안군', '충청남도 홍성군',
       '전북특별자치도 고창군', '전북특별자치도 군산시', '전북특별자치도 김제시', '전북특별자치도 남원시',
       '전북특별자치도 무주군', '전북특별자치도 부안군', '전북특별자치도 순창군', '전북특별자치도 완주군',
       '전북특별자치도 익산시', '전북특별자치도 임실군', '전북특별자치도 장수군', '전북특별자치도 전주시',
       '전북특별자치도 정읍시', '전북특별자치도 진안군', '전라남도 강진군', '전라남도 고흥군', '전라남도 곡성군',
       '전라남도 광양시', '전라남도 구례군', '전라남도 나주시', '전라남도 담양군', '전라남도 목포시',
       '전라남도 무안군', '전라남도 보성군', '전라남도 순천시', '전라남도 신안군', '전라남도 여수시',
       '전라남도 영광군', '전라남도 영암군', '전라남도 완도군', '전라남도 장성군', '전라남도 장흥군',
       '전라남도 진도군', '전라남도 함평군', '전라남도 해남군', '전라남도 화순군', '경상북도 경산시',
       '경상북도 경주시', '경상북도 고령군', '경상북도 구미시', '경상북도 군위군', '경상북도 김천시',
       '경상북도 문경시', '경상북도 봉화군', '경상북도 상주시', '경상북도 성주군', '경상북도 안동시',
       '경상북도 영덕군', '경상북도 영양군', '경상북도 영주시', '경상북도 영천시', '경상북도 예천군',
       '경상북도 울릉군', '경상북도 울진군', '경상북도 의성군', '경상북도 청도군', '경상북도 청송군',
       '경상북도 칠곡군', '경상북도 포항시', '경상남도 거제시', '경상남도 거창군', '경상남도 고성군',
       '경상남도 김해시', '경상남도 남해군', '경상남도 밀양시', '경상남도 사천시', '경상남도 산청군',
       '경상남도 양산시', '경상남도 의령군', '경상남도 진주시', '경상남도 창녕군', '경상남도 창원시',
       '경상남도 통영시', '경상남도 하동군', '경상남도 함안군', '경상남도 함양군', '경상남도 합천군',
       '제주특별자치도 서귀포시', '제주특별자치도 제주시'], dtype=object)

In [12]:

# '시군구' 컬럼의 값별로 개수 세기
count_per_sigungu = learn_place['시군구'].value_counts().reset_index()

# 데이터프레임의 컬럼명 변경
count_per_sigungu.columns = ['시군구', '학원수']

count_per_sigungu

           시군구   학원수
0    서울특별시 강남구  3678
1      경기도 수원시  3570
2      경기도 고양시  3485
3      경기도 용인시  3328
4      경기도 성남시  3225
..         ...   ...
230   경상북도 청송군     9
231   전라남도 신안군     6
232   충청북도 청주시     5
233  인천광역시 옹진군     5
234   경상북도 울릉군     4

[235 rows x 2 columns]

In [14]:
count_per_sigungu.isna().sum()

시군구    0
학원수    0
dtype: int64

In [13]:
count_per_sigungu['시군구'].unique()

array(['서울특별시 강남구', '경기도 수원시', '경기도 고양시', '경기도 용인시', '경기도 성남시', '경기도 화성시',
       '경상남도 창원시', '전북특별자치도 전주시', '대구광역시 수성구', '서울특별시 양천구', '경기도 부천시',
       '서울특별시 송파구', '경기도 남양주시', '서울특별시 서초구', '대구광역시 달서구', '경기도 안양시',
       '충청남도 천안시', '경기도 김포시', '인천광역시 서구', '경상남도 김해시', '세종특별자치시',
       '대전광역시 서구', '서울특별시 노원구', '부산광역시 해운대구', '서울특별시 강서구', '울산광역시 남구',
       '경기도 시흥시', '경상북도 포항시', '서울특별시 강동구', '제주특별자치도 제주시', '인천광역시 연수구',
       '광주광역시 북구', '경상북도 구미시', '경기도 평택시', '광주광역시 광산구', '경상남도 진주시',
       '경기도 안산시', '대구광역시 북구', '서울특별시 마포구', '경기도 파주시', '경기도 의정부시',
       '인천광역시 남동구', '서울특별시 은평구', '대전광역시 유성구', '부산광역시 동래구', '경기도 하남시',
       '서울특별시 성북구', '서울특별시 동작구', '강원특별자치도 원주시', '인천광역시 부평구', '경상남도 양산시',
       '광주광역시 서구', '광주광역시 남구', '대구광역시 동구', '부산광역시 부산진구', '경기도 광명시',
       '서울특별시 영등포구', '경기도 광주시', '서울특별시 구로구', '서울특별시 관악구', '서울특별시 광진구',
       '서울특별시 서대문구', '경기도 군포시', '대구광역시 달성군', '전라남도 순천시', '충청북도 흥덕구',
       '울산광역시 북구', '부산광역시 사하구', '서울특별시 동대문구', '강원특별자치도 춘천시', '충청남도 아산시',
       '부산광역시 북구', '전북특별자치도 익산시', '경상북도 경산시', '전라남도 여수시', '강원특별자치도 강릉시',
       '전북특별자치도 군산시', '부산광역시 금정구', '부산광역시 남구', '서울특별시 도봉구', '경기도 구리시',
       '울산광역시 중구', '경상북도 경주시', '부산광역시 강서구', '인천광역시 미추홀구', '서울특별시 성동구',
       '경상남도 거제시', '경기도 이천시', '울산광역시 울주군', '서울특별시 중랑구', '부산광역시 기장군',
       '부산광역시 연제구', '경기도 양주시', '경기도 오산시', '전라남도 목포시', '충청북도 상당구',
       '충청북도 서원구', '부산광역시 수영구', '대전광역시 중구', '인천광역시 계양구', '충청북도 충주시',
       '제주특별자치도 서귀포시', '대구광역시 중구', '충청북도 청원구', '서울특별시 강북구', '경상북도 안동시',
       '대전광역시 동구', '광주광역시 동구', '울산광역시 동구', '서울특별시 금천구', '충청남도 서산시',
       '경기도 안성시', '대전광역시 대덕구', '경기도 의왕시', '충청남도 당진시', '서울특별시 종로구',
       '전라남도 광양시', '인천광역시 중구', '전라남도 무안군', '부산광역시 사상구', '경상남도 통영시',
       '서울특별시 용산구', '전라남도 나주시', '경상북도 김천시', '경상남도 사천시', '대구광역시 서구',
       '경기도 과천시', '대구광역시 남구', '충청북도 제천시', '경상북도 영주시', '경상북도 칠곡군',
       '전북특별자치도 정읍시', '부산광역시 서구', '경기도 양평군', '경상남도 밀양시', '전북특별자치도 완주군',
       '충청남도 홍성군', '강원특별자치도 동해시', '경상북도 상주시', '충청남도 보령시', '경기도 여주시',
       '서울특별시 중구', '강원특별자치도 속초시', '충청남도 논산시', '경기도 포천시', '경상북도 영천시',
       '충청북도 진천군', '경상남도 거창군', '부산광역시 영도구', '전북특별자치도 남원시', '충청남도 공주시',
       '경기도 동두천시', '충청남도 연기군', '경상남도 함안군', '경상북도 문경시', '충청남도 계룡시',
       '경상북도 예천군', '전북특별자치도 김제시', '부산광역시 동구', '충청북도 음성군', '충청남도 예산군',
       '강원특별자치도 삼척시', '경기도 가평군', '강원특별자치도 홍천군', '경상남도 창녕군', '전라남도 영광군',
       '경상남도 고성군', '전라남도 해남군', '전라남도 화순군', '경상북도 울진군', '전북특별자치도 고창군',
       '인천광역시 강화군', '강원특별자치도 철원군', '충청북도 증평군', '인천광역시 동구', '경상남도 함양군',
       '전북특별자치도 부안군', '충청남도 서천군', '충청남도 부여군', '충청남도 태안군', '부산광역시 중구',
       '전라남도 영암군', '충청북도 영동군', '전라남도 완도군', '강원특별자치도 태백시', '경상남도 남해군',
       '강원특별자치도 영월군', '강원특별자치도 횡성군', '전라남도 고흥군', '경상남도 합천군', '충청북도 옥천군',
       '전라남도 장성군', '경상남도 하동군', '충청남도 금산군', '경상북도 청도군', '경기도 연천군',
       '전라남도 강진군', '강원특별자치도 인제군', '경상북도 성주군', '경상북도 의성군', '강원특별자치도 평창군',
       '경상북도 영덕군', '강원특별자치도 양양군', '경상북도 고령군', '전라남도 보성군', '전라남도 진도군',
       '강원특별자치도 정선군', '충청북도 보은군', '전북특별자치도 무주군', '경상남도 산청군',
       '강원특별자치도 화천군', '전라남도 장흥군', '전라남도 담양군', '전북특별자치도 순창군',
       '강원특별자치도 양구군', '전북특별자치도 장수군', '전라남도 구례군', '경상남도 의령군',
       '전북특별자치도 임실군', '전라남도 곡성군', '경상북도 봉화군', '충청북도 단양군', '충청북도 괴산군',
       '경상북도 군위군', '강원특별자치도 고성군', '전북특별자치도 진안군', '충청남도 청양군', '전라남도 함평군',
       '대구광역시 군위군', '경상북도 영양군', '경상북도 청송군', '전라남도 신안군', '충청북도 청주시',
       '인천광역시 옹진군', '경상북도 울릉군'], dtype=object)

In [22]:
# count_per_sigungu.to_csv("C:/fintech_service/06_machine_learning/data/learn_place_count_data.csv", index=False)

In [23]:
count_per_sigungu['학원수'].unique()

array([3678, 3570, 3485, 3328, 3225, 3112, 2951, 2669, 2464, 2126, 2064,
       2024, 2006, 1936, 1798, 1764, 1754, 1632, 1595, 1573, 1569, 1451,
       1448, 1427, 1385, 1362, 1358, 1349, 1345, 1300, 1292, 1288, 1275,
       1259, 1251, 1242, 1218, 1189, 1166, 1158, 1151, 1147, 1122, 1093,
       1076,  972,  964,  961,  951,  949,  928,  896,  894,  890,  862,
        856,  785,  781,  767,  746,  745,  738,  728,  724,  715,  696,
        692,  688,  674,  666,  657,  656,  632,  631,  629,  626,  610,
        604,  595,  592,  589,  579,  578,  574,  571,  569,  567,  539,
        531,  523,  518,  515,  506,  501,  497,  478,  469,  432,  424,
        420,  390,  388,  385,  380,  374,  363,  348,  335,  332,  330,
        317,  308,  303,  287,  283,  279,  266,  265,  263,  260,  258,
        255,  254,  246,  228,  223,  220,  215,  206,  192,  181,  173,
        168,  159,  157,  149,  147,  143,  139,  137,  135,  124,  120,
        116,  113,  112,  108,  106,  105,   97,   87,   86,   85,   83,
         81,   80,   79,   77,   75,   72,   71,   69,   68,   65,   61,
         60,   58,   57,   54,   53,   52,   50,   49,   48,   44,   43,
         41,   39,   38,   37,   33,   32,   31,   30,   29,   28,   27,
         26,   25,   24,   23,   22,   21,   20,   18,   17,   16,   15,
         13,   12,    9,    6,    5,    4], dtype=int64)

In [24]:
# merged_final에 '분류' 데이터를 기준으로 count_per_sigungu의 '학원수' 데이터를 left join
merged_final = data.merge(count_per_sigungu[['시군구', '학원수']],
                                  left_on='분류', 
                                  right_on='시군구', 
                                  how='left')

merged_final

,시군구_x,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류,시군구_y,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군,강원특별자치도 양구군,24.0
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시,경기도 의정부시,1151.0
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시,경기도 의정부시,1151.0
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시,경기도 의정부시,1151.0
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시,경기도 의정부시,1151.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시,충청남도 서산시,363.0
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시,경상북도 안동시,390.0
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시,경상북도 구미시,1275.0
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시,경상남도 양산시,928.0
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시,전북특별자치도 남원시,137.0

In [25]:
# '시군구_y' 컬럼 삭제
merged_final = merged_final.drop(columns=['시군구_y'])
merged_final

,시군구_x,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군,24.0
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시,1151.0
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시,1151.0
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시,1151.0
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시,1151.0
...,...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시,363.0
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시,390.0
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시,1275.0
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시,928.0
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시,137.0

In [26]:
merged_final = merged_final.drop(columns=['분류'])
merged_final

,시군구_x,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,24.0
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,1151.0
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,1151.0
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,1151.0
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,1151.0
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,363.0
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,390.0
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,1275.0
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,928.0
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,137.0

In [27]:
# '시군구_x' 컬럼명을 '시군구'로 변경
merged_final = merged_final.rename(columns={'시군구_x': '시군구'})

merged_final

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,학원수
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,24.0
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,1151.0
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,1151.0
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,1151.0
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,1151.0
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,363.0
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,390.0
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,1275.0
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,928.0
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,137.0

In [28]:
# 칼럼 순서를 지정
new_column_order = ['시군구', '단지명', '전용면적(㎡)', '거래금액(만원)', '층', '건축년도', '학원수', 'date', '기준금리', '달러환율']

# 지정한 순서대로 데이터프레임의 컬럼 재배치
merged_final= merged_final[new_column_order]
merged_final

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,24.0,2005-09-23,3.25,1061.83
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,1151.0,2005-10-20,3.50,1077.02
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,1151.0,2005-10-20,3.50,1077.02
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,1151.0,2005-10-30,3.50,1061.83
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,1151.0,2005-11-21,3.50,1060.19
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,363.0,2024-08-31,3.50,1408.72
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,390.0,2024-08-31,3.50,1408.72
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,1275.0,2024-08-31,3.50,1408.72
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,928.0,2024-08-31,3.50,1408.72
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,137.0,2024-08-31,3.50,1408.72

In [29]:
# 필요한 경우 병합된 데이터를 저장
merged_final.to_csv("C:/fintech_service/06_machine_learning/data/final_dataset.csv", index=False)

In [30]:
merged_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10041451 entries, 0 to 10041450
Data columns (total 10 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   거래금액(만원)  object
 4   층         int64
 5   건축년도      float64
 6   학원수       float64
 7   date      object
 8   기준금리      float64
 9   달러환율      float64
dtypes: float64(5), int64(1), object(4)
memory usage: 766.1+ MB

In [31]:
merged_final.isna().sum()

시군구               0
단지명               0
전용면적(㎡)           0
거래금액(만원)          0
층                 0
건축년도              0
학원수         2007352
date              0
기준금리              0
달러환율              0
dtype: int64

In [32]:
# '학원수' 컬럼에서 NaN 값을 가진 행들을 확인
nan_rows = merged_final[merged_final['학원수'].isna()]

# NaN이 있는지 확인
nan_rows

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,학원수,date,기준금리,달러환율
6,경상남도 창원성산구 남양동,피오르빌,39.7000,"4,300",14,1995.0,NaN,2006-03-01,4.0,990.33
7,경상남도 창원성산구 남양동,피오르빌,49.5100,"6,950",9,1995.0,NaN,2006-03-01,4.0,990.33
8,경상남도 창원성산구 남양동,피오르빌,49.5100,"6,300",13,1995.0,NaN,2006-03-01,4.0,990.33
9,경상남도 창원성산구 대방동,대동황토방,84.1272,"24,900",12,2001.0,NaN,2006-03-01,4.0,990.33
10,경상남도 창원성산구 대방동,대방동성,60.0000,"10,120",20,1996.0,NaN,2006-03-01,4.0,990.33
...,...,...,...,...,...,...,...,...,...,...
10040207,세종특별자치시 도담동,도램마을1단지(웅진스타클래스),59.9700,"41,000",12,2014.0,NaN,2024-08-31,3.5,1408.72
10040224,세종특별자치시 고운동,가락마을6단지(중흥S클래스프라디움),59.6866,"38,700",23,2015.0,NaN,2024-08-31,3.5,1408.72
10040233,세종특별자치시 고운동,가락마을17단지(골드클래스),59.9159,"32,500",11,2015.0,NaN,2024-08-31,3.5,1408.72
10040240,세종특별자치시 고운동,가락마을9단지(신동아 파밀리에),59.9718,"31,500",15,2015.0,NaN,2024-08-31,3.5,1408.72
10040242,세종특별자치시 도담동,중흥 그린카운티(13단지),59.1132,"38,300",13,2014.0,NaN,2024-08-31,3.5,1408.72

In [33]:
nan_rows['시군구'].unique()

array(['경상남도 창원성산구 남양동', '경상남도 창원성산구 대방동', '경상남도 창원성산구 반림동',
       '경상남도 창원성산구 상남동', '경상남도 창원성산구 안민동', '경상남도 창원의창구 도계동',
       '경상남도 창원진해구 경화동', '경상남도 창원의창구 팔용동', '경상남도 창원진해구 용원동',
       '경상남도 창원진해구 풍호동', '전라북도 전주덕진구 송천동1가', '경상남도 창원성산구 가음동',
       '전라북도 전주덕진구 송천동2가', '경상남도 창원마산합포구 진동면 요장리', '경상남도 창원마산회원구 구암동',
       '경상남도 창원마산회원구 내서읍 삼계리', '경상남도 창원마산회원구 내서읍 중리',
       '경상남도 창원마산회원구 내서읍 호계리', '경상남도 창원마산회원구 석전동', '경상북도 포항남구 대잠동',
       '경상북도 포항남구 연일읍 생지리', '경상북도 포항북구 득량동', '경상북도 포항북구 용흥동',
       '경상북도 포항북구 창포동', '전라북도 전주완산구 효자동1가', '전라북도 전주완산구 중화산동2가',
       '전라북도 전주완산구 효자동3가', '전라북도 전주덕진구 인후동1가', '전라북도 전주완산구 서신동',
       '전라북도 전주완산구 중화산동1가', '충청남도 천안동남구 신방동', '경기도 수원팔달구 우만동',
       '충청남도 천안동남구 청수동', '충청남도 천안동남구 원성동', '경기도 수원팔달구 인계동',
       '경기도 수원팔달구 화서동', '경기도 수원팔달구 매산로2가', '경기도 안산단원구 초지동',
       '경기도 안산상록구 건건동', '경기도 안산상록구 본오동', '경기도 안산상록구 사동', '경기도 안산상록구 성포동',
       '경기도 안산단원구 신길동', '경기도 안산단원구 선부동', '충청남도 천안동남구 목천읍 신계리',
       '경기도 안산단원구 고잔동', '경기도 수원장안구 천천동', '경기도 수원권선구 금곡동',
       '충청남도 천안서북구 쌍용동', '경기도 수원권선구 당수동', '경기도 수원권선구 서둔동',
       '경기도 수원권선구 세류동', '경기도 수원권선구 탑동', '경기도 수원권선구 호매실동', '경기도 수원영통구 망포동',
       '경기도 수원영통구 매탄동', '경기도 수원권선구 권선동', '경기도 성남중원구 상대원동',
       '경기도 성남중원구 은행동', '경기도 수원권선구 고색동', '경기도 수원권선구 곡반정동',
       '경기도 수원권선구 구운동', '경기도 수원장안구 정자동', '경기도 수원장안구 조원동',
       '충청남도 천안서북구 두정동', '충청남도 천안서북구 백석동', '경기도 수원장안구 율전동',
       '충청남도 천안서북구 불당동', '경기도 수원영통구 영통동', '충청남도 천안서북구 성환읍 율금리',
       '충청남도 천안서북구 성거읍 저리', '경기도 수원영통구 원천동', '경기도 안산상록구 월피동',
       '경기도 용인기흥구 영덕동', '경기도 용인수지구 동천동', '경기도 용인수지구 상현동', '경기도 용인기흥구 언남동',
       '경기도 용인기흥구 신갈동', '경기도 용인기흥구 마북동', '경기도 용인기흥구 보라동', '경기도 용인기흥구 보정동',
       '경기도 용인기흥구 상갈동', '경기도 용인기흥구 상하동', '경기도 용인기흥구 서천동', '경기도 용인수지구 성복동',
       '경기도 용인수지구 풍덕천동', '경기도 용인처인구 고림동', '경기도 용인처인구 김량장동',
       '경기도 용인처인구 역북동', '경기도 용인처인구 유방동', '경기도 용인처인구 포곡읍 영문리',
       '경기도 용인수지구 신봉동', '경기도 용인수지구 죽전동', '경기도 용인기흥구 구갈동', '경기도 안양동안구 평촌동',
       '경기도 안양동안구 호계동', '경기도 안양동안구 비산동', '경기도 안양동안구 관양동', '경기도 안양만안구 안양동',
       '경기도 용인기흥구 고매동', '경기도 안양만안구 박달동', '경기도 안양만안구 석수동',
       '세종특별자치시 소정면 운당리', '세종특별자치시 연서면 봉암리', '세종특별자치시 조치원읍 남리',
       '경기도 성남중원구 금광동', '경기도 성남분당구 이매동', '경기도 고양일산동구 풍동',
       '경기도 고양일산서구 가좌동', '경기도 성남분당구 야탑동', '경기도 고양일산서구 대화동',
       '충청북도 청주흥덕구 가경동', '경기도 고양일산서구 일산동', '경기도 고양일산동구 중산동',
       '경기도 고양일산동구 마두동', '경기도 고양일산동구 백석동', '경기도 고양일산서구 주엽동',
       '경기도 성남분당구 수내동', '경기도 고양일산서구 탄현동', '충청북도 청주상당구 용암동',
       '경기도 고양덕양구 토당동', '경기도 성남수정구 신흥동', '경기도 고양덕양구 행신동',
       '충청북도 청주흥덕구 비하동', '경기도 성남수정구 태평동', '충청북도 청주상당구 탑동',
       '경기도 고양덕양구 고양동', '충청북도 청주상당구 용정동', '경기도 고양덕양구 성사동',
       '경기도 고양덕양구 주교동', '경기도 성남수정구 수진동', '경기도 고양덕양구 화정동', '경기도 성남분당구 정자동',
       '충청북도 청주서원구 분평동', '충청북도 청주서원구 수곡동', '충청북도 청주상당구 영운동',
       '경기도 성남분당구 구미동', '충청북도 청주상당구 금천동', '경기도 성남분당구 서현동',
       '경기도 성남분당구 분당동', '충청북도 청주서원구 개신동', '충청북도 청주흥덕구 옥산면 오산리',
       '경상남도 창원마산합포구 월포동', '경상남도 창원진해구 청안동', '경상남도 창원진해구 이동',
       '경상남도 창원마산합포구 해운동', '충청북도 청주서원구 사직동', '경상남도 창원마산합포구 월영동',
       '경상남도 창원마산합포구 교방동', '전라북도 전주덕진구 반월동', '경상남도 창원성산구 반지동',
       '경상남도 창원마산회원구 양덕동', '경상남도 창원의창구 동읍 용잠리', '경상남도 창원의창구 소계동',
       '경상남도 창원의창구 소답동', '경상남도 창원성산구 신촌동', '경상남도 창원성산구 신월동',
       '경상남도 창원성산구 외동', '경상북도 포항북구 흥해읍 학천리', '경상북도 포항북구 흥해읍 이인리',
       '경상북도 포항북구 흥해읍 성곡리', '경상북도 포항북구 흥해읍 마산리', '경상북도 포항북구 환호동',
       '경상북도 포항북구 항구동', '경상북도 포항북구 학잠동', '경상북도 포항북구 두호동', '경상북도 포항남구 지곡동',
       '경상북도 포항남구 오천읍 용덕리', '경상북도 포항남구 오천읍 구정리', '경상북도 포항남구 연일읍 유강리',
       '경상북도 포항북구 장성동', '충청북도 청주서원구 모충동', '충청북도 청주흥덕구 봉명동',
       '충청북도 청주흥덕구 옥산면 가락리', '충청북도 청주흥덕구 신봉동', '경기도 고양덕양구 관산동',
       '충청북도 청주흥덕구 강서동', '경기도 고양일산동구 장항동', '경기도 고양일산동구 사리현동',
       '충청북도 청주흥덕구 강내면 황탄리', '충청북도 청주흥덕구 복대동', '세종특별자치시 조치원읍 침산리',
       '세종특별자치시 조치원읍 죽림리', '세종특별자치시 조치원읍 신안리', '세종특별자치시 조치원읍 교리',
       '충청북도 청주청원구 내덕동', '충청북도 청주청원구 내수읍 은곡리', '충청북도 청주청원구 율량동',
       '경기도 고양일산서구 덕이동', '충청북도 청주청원구 오창읍 각리', '충청북도 청주청원구 사천동',
       '경기도 용인기흥구 중동', '경기도 용인기흥구 지곡동', '경기도 성남분당구 금곡동',
       '전라북도 전주완산구 평화동1가', '충청북도 청주상당구 용담동', '경기도 용인처인구 삼가동',
       '경기도 용인처인구 원삼면 좌항리', '경기도 용인처인구 이동읍 천리', '경기도 용인처인구 포곡읍 둔전리',
       '경기도 용인처인구 포곡읍 삼계리', '충청남도 천안서북구 성정동', '충청남도 천안서북구 성거읍 천흥리',
       '충청남도 천안서북구 성거읍 오목리', '충청남도 천안서북구 성환읍 성월리', '충청남도 천안서북구 성거읍 신월리',
       '경기도 성남수정구 양지동', '경기도 수원장안구 파장동', '충청남도 천안동남구 용곡동',
       '경기도 수원장안구 송죽동', '경기도 수원장안구 연무동', '경기도 성남중원구 하대원동',
       '충청남도 천안서북구 직산읍 삼은리', '경기도 수원권선구 입북동', '경기도 안산상록구 이동',
       '충청남도 천안동남구 쌍용동', '충청남도 천안동남구 신부동', '경기도 성남수정구 단대동',
       '충청남도 천안동남구 봉명동', '전라북도 전주덕진구 우아동3가', '전라북도 전주완산구 삼천동1가',
       '전라북도 전주덕진구 호성동1가', '전라북도 전주덕진구 팔복동2가', '전라북도 전주완산구 서서학동',
       '전라북도 전주완산구 중노송동', '전라북도 전주덕진구 진북동', '전라북도 전주덕진구 여의동',
       '전라북도 전주덕진구 우아동2가', '충청북도 청주흥덕구 운천동', '경상남도 창원진해구 북부동',
       '충청북도 청주흥덕구 오송읍 봉산리', '경상남도 창원성산구 용호동', '경상북도 포항남구 해도동',
       '경상북도 포항남구 인덕동', '경상남도 창원의창구 대산면 가술리', '경기도 안산단원구 원곡동',
       '충청북도 청주청원구 오창읍 장대리', '경상남도 창원성산구 남산동', '경상남도 창원마산회원구 회원동',
       '경상남도 창원마산회원구 합성동', '경기도 용인처인구 모현읍 일산리', '세종특별자치시 금남면 용포리',
       '세종특별자치시 조치원읍 서창리', '충청남도 천안서북구 직산읍 모시리', '전라북도 전주완산구 평화동2가',
       '전라북도 전주덕진구 여의동2가', '경기도 용인기흥구 청덕동', '경상남도 창원성산구 대원동',
       '경상북도 포항북구 우현동', '경상남도 창원마산회원구 내서읍 상곡리', '경상남도 창원마산합포구 산호동',
       '세종특별자치시 조치원읍 신흥리', '경기도 수원권선구 평동', '경기도 수원팔달구 지동',
       '경상남도 창원성산구 사파동', '경상북도 포항북구 흥해읍 약성리', '경상북도 포항북구 학산동',
       '충청남도 천안동남구 다가동', '경기도 수원권선구 오목천동', '충청남도 천안서북구 성거읍 문덕리',
       '경상남도 창원의창구 북면 신촌리', '경상남도 창원성산구 성주동', '경기도 안산상록구 수암동',
       '충청남도 천안동남구 목천읍 운전리', '경기도 성남중원구 성남동', '충청남도 천안서북구 입장면 하장리',
       '경상북도 포항남구 오천읍 세계리', '경상북도 포항북구 흥해읍 남성리', '전라북도 전주덕진구 금암동',
       '경상남도 창원의창구 명서동', '경상남도 창원마산합포구 구산면 수정리', '경상남도 창원마산합포구 대창동',
       '경상남도 창원마산회원구 봉암동', '세종특별자치시 전동면 노장리', '세종특별자치시 조치원읍 번암리',
       '세종특별자치시 부강면 부강리', '경상북도 포항남구 대도동', '충청남도 천안서북구 직산읍 부송리',
       '경상북도 포항남구 연일읍 괴정리', '경상북도 포항남구 오천읍 문덕리', '충청남도 천안서북구 신당동',
       '충청남도 천안동남구 구성동', '충청북도 청주청원구 내수읍 우산리', '충청남도 천안동남구 안서동',
       '경기도 수원팔달구 고등동', '전라북도 전주덕진구 인후동2가', '전라북도 전주완산구 동서학동',
       '경상남도 창원마산합포구 자산동', '경상남도 창원마산합포구 완월동', '세종특별자치시 전의면 유천리',
       '경상북도 포항남구 상도동', '경상북도 포항남구 동해면 약전리', '경기도 고양일산동구 성석동',
       '경상남도 창원성산구 내동', '충청북도 청주상당구 대성동', '충청남도 천안서북구 와촌동',
       '충청북도 청주서원구 사창동', '전라북도 전주덕진구 고랑동', '경상북도 포항북구 송라면 광천리',
       '경기도 용인처인구 양지면 양지리', '경상남도 창원의창구 동정동', '경상남도 창원진해구 자은동',
       '경기도 안산상록구 사사동', '경기도 용인기흥구 공세동', '충청남도 천안동남구 병천면 병천리',
       '충청북도 청주청원구 내수읍 도원리', '충청북도 청주청원구 내수읍 내수리', '경상남도 창원마산합포구 남성동',
       '충청북도 청주상당구 지북동', '경상남도 창원의창구 동읍 용정리', '충청남도 천안동남구 목천읍 서리',
       '경상남도 창원의창구 동읍 신방리', '충청북도 청주청원구 우암동', '경상북도 포항남구 동해면 도구리',
       '경기도 용인기흥구 동백동', '충청북도 청주청원구 오창읍 복현리', '경기도 용인처인구 마평동',
       '경기도 수원장안구 영화동', '충청북도 청주흥덕구 강내면 월탄리', '경상남도 창원진해구 석동',
       '경상남도 창원마산합포구 신포동2가', '경기도 용인처인구 모현읍 왕산리', '경상남도 창원마산합포구 중앙동3가',
       '경상남도 창원진해구 덕산동', '경상북도 포항북구 흥해읍 중성리', '경상남도 창원성산구 가음정동',
       '경상북도 포항남구 연일읍 동문리', '경상남도 창원마산합포구 중앙동2가', '경상남도 창원마산합포구 신포동1가',
       '충청북도 청주청원구 오창읍 창리', '충청북도 청주흥덕구 강내면 탑연리', '경기도 고양일산동구 식사동',
       '전라북도 전주덕진구 덕진동2가', '충청북도 청주청원구 내수읍 마산리', '경상북도 포항북구 송라면 화진리',
       '경상북도 포항남구 이동', '경상북도 포항남구 청림동', '충청남도 천안서북구 직산읍 상덕리',
       '경상남도 창원마산합포구 창포동2가', '세종특별자치시 전의면 동교리', '경상북도 포항남구 송도동',
       '경상남도 창원마산합포구 창포동1가', '경상남도 창원진해구 태백동', '경기도 용인처인구 포곡읍 전대리',
       '충청북도 청주흥덕구 오송읍 궁평리', '세종특별자치시 조치원읍 정리', '경상북도 포항남구 오천읍 용산리',
       '경상남도 창원진해구 여좌동', '경상남도 창원마산합포구 오동동', '경상북도 포항북구 죽도동',
       '충청북도 청주흥덕구 강내면 월곡리', '경상남도 창원진해구 인사동', '경상북도 포항남구 동해면 석리',
       '전라북도 전주덕진구 팔복동1가', '전라북도 전주완산구 태평동', '충청남도 천안동남구 영성동',
       '경기도 수원팔달구 교동', '경상남도 창원진해구 송학동', '경상남도 창원마산회원구 내서읍 원계리',
       '경상남도 창원마산합포구 신흥동', '전라북도 전주완산구 효자동2가', '충청북도 청주상당구 미원면 미원리',
       '경상북도 포항남구 효자동', '경상남도 창원마산합포구 대성동1가', '전라북도 전주완산구 서완산동2가',
       '충청남도 천안동남구 북면 연춘리', '경상남도 창원마산회원구 회성동', '충청북도 청주상당구 북문로3가동',
       '충청남도 천안동남구 북면 상동리', '경상북도 포항북구 흥해읍 학성리', '전라북도 전주덕진구 덕진동1가',
       '충청남도 천안서북구 성환읍 매주리', '경상남도 창원의창구 봉곡동', '경상남도 창원마산합포구 상남동',
       '경상남도 창원마산합포구 창포동3가', '경상남도 창원의창구 동읍 송정리', '경기도 안산상록구 장상동',
       '충청남도 천안서북구 성환읍 수향리', '경기도 수원팔달구 매교동', '경상북도 포항북구 동빈2가',
       '경상북도 포항남구 대송면 제내리', '충청남도 천안서북구 성환읍 송덕리', '경기도 성남중원구 중앙동',
       '경상남도 창원마산합포구 진동면 진동리', '경상남도 창원마산합포구 대내동', '경기도 용인처인구 남동',
       '경상북도 포항남구 연일읍 오천리', '경상북도 포항남구 구룡포읍 병포리', '세종특별자치시 연동면 명학리',
       '충청북도 청주흥덕구 오송읍 오송리', '경상남도 창원의창구 동읍 무성리', '충청북도 청주상당구 방서동',
       '경상남도 창원의창구 서상동', '경상남도 창원성산구 천선동', '충청북도 청주청원구 오창읍 괴정리',
       '충청남도 천안서북구 성거읍 요방리', '충청남도 천안서북구 직산읍 군서리', '전라북도 전주완산구 남노송동',
       '경상남도 창원진해구 제황산동', '경상남도 창원진해구 태평동', '경상남도 창원마산합포구 진동면 사동리',
       '경상남도 창원진해구 광화동', '경상남도 창원의창구 중동', '전라북도 전주완산구 대성동',
       '경상남도 창원진해구 인의동', '경상남도 창원진해구 숭인동', '경상남도 창원마산합포구 추산동',
       '경상남도 창원마산합포구 진북면 지산리', '경상북도 포항남구 구룡포읍 구룡포리', '경기도 고양덕양구 덕은동',
       '경기도 용인처인구 백암면 근창리', '경상남도 창원진해구 속천동', '경상북도 포항북구 흥해읍 옥성리',
       '충청북도 청주흥덕구 오송읍 정중리', '충청북도 청주흥덕구 오송읍 서평리', '충청남도 천안서북구 성환읍 성환리',
       '경상남도 창원마산합포구 서성동', '경상남도 창원진해구 마천동', '경상남도 창원마산합포구 유록동',
       '경상남도 창원진해구 익선동', '경상남도 창원마산합포구 대외동', '충청북도 청주상당구 남주동',
       '경상북도 포항북구 청하면 덕성리', '경상북도 포항남구 동해면 신정리', '충청북도 청주상당구 영동',
       '경상북도 포항북구 덕수동', '충청남도 천안동남구 성황동', '전라북도 전주완산구 서노송동',
       '충청남도 천안서북구 입장면 기로리', '충청남도 천안서북구 입장면 신두리', '충청북도 청주상당구 북문로2가동',
       '경상북도 포항북구 신광면 토성리', '경기도 수원팔달구 매산로3가', '충청남도 천안서북구 입장면 신덕리',
       '경기도 용인처인구 모현읍 초부리', '충청남도 천안서북구 입장면 도림리', '경상남도 창원의창구 북면 화천리',
       '전라북도 전주완산구 전동3가', '충청남도 천안동남구 병천면 가전리', '경기도 용인처인구 양지면 남곡리',
       '경상북도 포항북구 청하면 월포리', '경상남도 창원마산합포구 두월동2가', '경상남도 창원진해구 부흥동',
       '경상남도 창원마산합포구 월남동1가', '충청남도 천안동남구 청당동', '경상북도 포항남구 연일읍 택전리',
       '경상남도 창원마산합포구 문화동', '전라북도 전주완산구 경원동3가', '경상남도 창원마산합포구 대성동2가',
       '경상남도 창원의창구 북면 내곡리', '경기도 용인처인구 이동읍 송전리', '경기도 용인처인구 운학동',
       '경기도 성남수정구 산성동', '경상남도 창원마산합포구 홍문동', '충청북도 청주서원구 산남동',
       '충청북도 청주상당구 수동', '경상남도 창원진해구 화천동', '충청남도 천안서북구 성거읍 송남리',
       '경상남도 창원진해구 소사동', '경상남도 창원마산합포구 장군동3가', '경상북도 포항남구 오천읍 문충리',
       '충청남도 천안동남구 목천읍 응원리', '경상남도 창원진해구 충의동', '충청북도 청주상당구 석교동',
       '경상남도 창원마산합포구 신창동', '경상남도 창원마산합포구 창동', '경상남도 창원마산합포구 장군동5가',
       '충청남도 천안동남구 병천면 탑원리', '충청남도 천안동남구 성남면 석곡리', '충청북도 청주상당구 남일면 효촌리',
       '세종특별자치시 조치원읍 원리', '경상남도 창원마산합포구 화영동', '경상남도 창원진해구 두동',
       '전라북도 전주완산구 다가동1가', '경상남도 창원진해구 근화동', '경상남도 창원진해구 장천동',
       '경상남도 창원마산합포구 가포동', '전라북도 전주완산구 동완산동', '경기도 성남중원구 도촌동',
       '충청남도 천안동남구 사직동', '충청북도 청주상당구 서운동', '전라북도 전주덕진구 호성동2가',
       '충청북도 청주서원구 성화동', '충청북도 청주서원구 죽림동', '경상북도 포항북구 양덕동',
       '경기도 성남분당구 운중동', '충청북도 청주서원구 남이면 척북리', '경기도 성남분당구 판교동',
       '경기도 성남분당구 삼평동', '충청북도 청주흥덕구 오송읍 만수리', '충청남도 천안서북구 직산읍 수헐리',
       '경기도 고양덕양구 벽제동', '경기도 용인기흥구 하갈동', '경상남도 창원마산합포구 동성동',
       '경상북도 포항남구 오천읍 원리', '경기도 성남분당구 백현동', '전라북도 전주완산구 다가동2가',
       '경상남도 창원마산합포구 반월동', '경상북도 포항남구 장기면 양포리', '경상남도 창원마산합포구 중앙동1가',
       '충청북도 청주흥덕구 오송읍 연제리', '충청남도 천안서북구 직산읍 군동리', '경상남도 창원마산합포구 교원동',
       '경상남도 창원의창구 봉림동', '경기도 수원영통구 이의동', '경기도 수원영통구 하동', '세종특별자치시 한솔동',
       '경기도 안산상록구 부곡동', '경상남도 창원마산합포구 부림동', '경기도 수원장안구 이목동',
       '경상남도 창원진해구 창선동', '경기도 고양덕양구 삼송동', '경기도 고양덕양구 동산동',
       '경기도 고양덕양구 신원동', '경기도 성남중원구 여수동', '경상남도 창원진해구 중평동',
       '경기도 고양덕양구 도내동', '전라북도 전주덕진구 장동', '전라북도 전주덕진구 중동', '경기도 고양덕양구 원흥동',
       '경기도 수원영통구 신동', '세종특별자치시 어진동', '경상남도 창원마산합포구 중성동', '세종특별자치시 나성동',
       '경상남도 창원의창구 북면 무동리', '세종특별자치시 종촌동', '전라북도 전주완산구 교동',
       '경상남도 창원의창구 북면 감계리', '전라북도 전주완산구 중인동', '충청남도 천안서북구 직산읍 양당리',
       '충청북도 청주청원구 주중동', '경상남도 창원마산합포구 월남동3가', '세종특별자치시 아름동',
       '세종특별자치시 장군면 금암리', '충청북도 청주청원구 주성동', '세종특별자치시 도담동',
       '경상북도 포항북구 대신동', '경상북도 포항남구 구룡포읍 눌태리', '경기도 안산단원구 와동',
       '경상남도 창원마산합포구 수성동', '충청남도 천안서북구 차암동', '충청남도 천안동남구 오룡동',
       '경기도 수원팔달구 매산로1가', '경상남도 창원마산합포구 현동', '충청남도 천안동남구 목천읍 삼성리',
       '세종특별자치시 고운동', '경상남도 창원진해구 대죽동', '충청북도 청주청원구 오창읍 주성리',
       '충청남도 천안동남구 문화동', '경기도 성남수정구 창곡동', '세종특별자치시 조치원읍 상리',
       '충청북도 청주상당구 남문로1가동', '경상북도 포항남구 일월동', '경상북도 포항북구 동빈1가',
       '세종특별자치시 소담동', '경상남도 창원의창구 북면 동전리', '경상남도 창원진해구 남양동',
       '충청북도 청주서원구 남이면 가마리', '경상남도 창원진해구 안골동', '경상북도 포항북구 여천동',
       '세종특별자치시 보람동', '경상남도 창원진해구 대흥동', '경상남도 창원진해구 충무동', '세종특별자치시 새롬동',
       '경상남도 창원진해구 남문동', '충청남도 천안서북구 성성동', '경상남도 창원마산합포구 월남동5가',
       '세종특별자치시 대평동', '전라북도 전주완산구 다가동3가', '세종특별자치시 다정동', '전라북도 전주덕진구 만성동',
       '경상북도 포항북구 흥해읍 초곡리', '경기도 용인처인구 남사읍 완장리', '경기도 용인처인구 남사읍 아곡리',
       '충청북도 청주청원구 오창읍 양청리', '충청북도 청주흥덕구 송절동', '세종특별자치시 반곡동',
       '충청북도 청주상당구 문화동', '경기도 고양덕양구 향동동', '경기도 성남수정구 고등동',
       '경기도 고양덕양구 지축동', '세종특별자치시 가람동', '세종특별자치시 해밀동', '세종특별자치시 소정면 소정리',
       '전라북도 전주덕진구 산정동', '경기도 성남분당구 대장동', '세종특별자치시 집현동', '충청북도 청주흥덕구 문암동',
       '경상남도 창원성산구 사파정동', '세종특별자치시  소담동', '세종특별자치시  종촌동', '세종특별자치시  다정동',
       '세종특별자치시  도담동', '세종특별자치시  보람동', '세종특별자치시  아름동',
       '세종특별자치시  조치원읍 번암리', '세종특별자치시  고운동', '세종특별자치시  반곡동',
       '세종특별자치시  조치원읍 신안리', '세종특별자치시  대평동', '세종특별자치시  한솔동',
       '세종특별자치시  조치원읍 죽림리', '세종특별자치시  집현동', '세종특별자치시  나성동',
       '세종특별자치시  어진동', '세종특별자치시  새롬동', '세종특별자치시  해밀동', '세종특별자치시  장군면 금암리',
       '세종특별자치시  조치원읍 상리', '세종특별자치시  금남면 용포리', '세종특별자치시  조치원읍 신흥리',
       '세종특별자치시  부강면 부강리', '세종특별자치시  전의면 동교리', '세종특별자치시  조치원읍 침산리',
       '세종특별자치시  조치원읍 서창리', '세종특별자치시  전의면 유천리', '세종특별자치시  조치원읍 교리',
       '세종특별자치시  소정면 운당리', '세종특별자치시  연서면 봉암리', '세종특별자치시  조치원읍 남리',
       '세종특별자치시  연동면 명학리', '세종특별자치시  조치원읍 원리', '세종특별자치시  전동면 노장리',
       '세종특별자치시  조치원읍 정리', '세종특별자치시  산울동'], dtype=object)

In [34]:
nan_rows['분류'] = nan_rows['시군구'].apply(lambda x: ' '.join(x.split()[:2]))
nan_rows['분류'].unique()

C:\Users\5-06\AppData\Local\Temp\ipykernel_5908\3094543104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nan_rows['분류'] = nan_rows['시군구'].apply(lambda x: ' '.join(x.split()[:2]))

array(['경상남도 창원성산구', '경상남도 창원의창구', '경상남도 창원진해구', '전라북도 전주덕진구',
       '경상남도 창원마산합포구', '경상남도 창원마산회원구', '경상북도 포항남구', '경상북도 포항북구',
       '전라북도 전주완산구', '충청남도 천안동남구', '경기도 수원팔달구', '경기도 안산단원구', '경기도 안산상록구',
       '경기도 수원장안구', '경기도 수원권선구', '충청남도 천안서북구', '경기도 수원영통구', '경기도 성남중원구',
       '경기도 용인기흥구', '경기도 용인수지구', '경기도 용인처인구', '경기도 안양동안구', '경기도 안양만안구',
       '세종특별자치시 소정면', '세종특별자치시 연서면', '세종특별자치시 조치원읍', '경기도 성남분당구',
       '경기도 고양일산동구', '경기도 고양일산서구', '충청북도 청주흥덕구', '충청북도 청주상당구',
       '경기도 고양덕양구', '경기도 성남수정구', '충청북도 청주서원구', '충청북도 청주청원구',
       '세종특별자치시 금남면', '세종특별자치시 전동면', '세종특별자치시 부강면', '세종특별자치시 전의면',
       '세종특별자치시 연동면', '세종특별자치시 한솔동', '세종특별자치시 어진동', '세종특별자치시 나성동',
       '세종특별자치시 종촌동', '세종특별자치시 아름동', '세종특별자치시 장군면', '세종특별자치시 도담동',
       '세종특별자치시 고운동', '세종특별자치시 소담동', '세종특별자치시 보람동', '세종특별자치시 새롬동',
       '세종특별자치시 대평동', '세종특별자치시 다정동', '세종특별자치시 반곡동', '세종특별자치시 가람동',
       '세종특별자치시 해밀동', '세종특별자치시 집현동', '세종특별자치시 산울동'], dtype=object)

In [ ]:
경상남도 창원시
'경상남도 창원성산구', '경상남도 창원의창구', '경상남도 창원진해구', '경상남도 창원마산합포구', '경상남도 창원마산회원구'

In [ ]:
전북특별자치도 전주시
'전라북도 전주덕진구','전라북도 전주완산구'

In [ ]:
경상북도 포항시
'경상북도 포항남구', '경상북도 포항북구'

In [ ]:
충청남도 천안시
'충청남도 천안동남구','충청남도 천안서북구'

In [ ]:
경기도 수원시
'경기도 수원팔달구','경기도 수원장안구', '경기도 수원권선구','경기도 수원영통구'

In [ ]:
경기도 안산시
'경기도 안산단원구', '경기도 안산상록구'

In [ ]:
경기도 용인시
'경기도 용인기흥구', '경기도 용인수지구', '경기도 용인처인구'

In [ ]:
경기도 성남시
'경기도 성남중원구','경기도 성남수정구'

In [ ]:
경기도 안양시
'경기도 안양동안구', '경기도 안양만안구'

In [ ]:
세종특별자치시
'세종특별자치시 소정면', '세종특별자치시 연서면', '세종특별자치시 조치원읍', '경기도 성남분당구', 
'세종특별자치시 금남면', '세종특별자치시 전동면', '세종특별자치시 부강면', '세종특별자치시 전의면',
'세종특별자치시 연동면', '세종특별자치시 한솔동', '세종특별자치시 어진동', '세종특별자치시 나성동',
'세종특별자치시 종촌동', '세종특별자치시 아름동', '세종특별자치시 장군면', '세종특별자치시 도담동',
'세종특별자치시 고운동', '세종특별자치시 소담동', '세종특별자치시 보람동', '세종특별자치시 새롬동',
'세종특별자치시 대평동', '세종특별자치시 다정동', '세종특별자치시 반곡동', '세종특별자치시 가람동',
'세종특별자치시 해밀동', '세종특별자치시 집현동', '세종특별자치시 산울동'

In [ ]:
경기도 고양시
'경기도 고양일산동구', '경기도 고양일산서구','경기도 고양덕양구'

In [ ]:
충청북도 청주시
'충청북도 청주흥덕구', '충청북도 청주상당구','충청북도 청주서원구', '충청북도 청주청원구'

In [1]:
import pandas as pd
final= pd.read_csv("C:/fintech_service/06_machine_learning/data/final_fliter_data2.csv", encoding='UTF8')
final

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시

In [4]:
# '분류' 컬럼에서 포항의 각 구를 '경상북도 포항시'로 변경
final['분류'] = final['분류'].replace({
    '경상북도 포항남구': '경상북도 포항시',
    '경상북도 포항북구': '경상북도 포항시'
})

In [11]:
# '분류' 컬럼에서 세종특별자치시 각 지역을 '세종특별자치시'로 변경
final['분류'] = final['분류'].replace({
    '세종특별자치시 소정면': '세종특별자치시',
    '세종특별자치시 연서면': '세종특별자치시',
    '세종특별자치시 조치원읍': '세종특별자치시',
    '세종특별자치시 금남면': '세종특별자치시',
    '세종특별자치시 전동면': '세종특별자치시',
    '세종특별자치시 부강면': '세종특별자치시',
    '세종특별자치시 전의면': '세종특별자치시',
    '세종특별자치시 연동면': '세종특별자치시',
    '세종특별자치시 한솔동': '세종특별자치시',
    '세종특별자치시 어진동': '세종특별자치시',
    '세종특별자치시 나성동': '세종특별자치시',
    '세종특별자치시 종촌동': '세종특별자치시',
    '세종특별자치시 아름동': '세종특별자치시',
    '세종특별자치시 장군면': '세종특별자치시',
    '세종특별자치시 도담동': '세종특별자치시',
    '세종특별자치시 고운동': '세종특별자치시',
    '세종특별자치시 소담동': '세종특별자치시',
    '세종특별자치시 보람동': '세종특별자치시',
    '세종특별자치시 새롬동': '세종특별자치시',
    '세종특별자치시 대평동': '세종특별자치시',
    '세종특별자치시 다정동': '세종특별자치시',
    '세종특별자치시 반곡동': '세종특별자치시',
    '세종특별자치시 가람동': '세종특별자치시',
    '세종특별자치시 해밀동': '세종특별자치시',
    '세종특별자치시 집현동': '세종특별자치시',
    '세종특별자치시 산울동': '세종특별자치시',
})

In [14]:
final

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,date,달러환율,기준금리,분류
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,2005-09-23,1061.83,3.25,강원특별자치도 양구군
1,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,2005-10-20,1077.02,3.50,경기도 의정부시
2,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,2005-10-20,1077.02,3.50,경기도 의정부시
3,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,2005-10-30,1061.83,3.50,경기도 의정부시
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,2005-11-21,1060.19,3.50,경기도 의정부시
...,...,...,...,...,...,...,...,...,...,...
10041446,충청남도 서산시 대산읍 대산리,한미,58.4700,"3,000",5,1992.0,2024-08-31,1408.72,3.50,충청남도 서산시
10041447,경상북도 안동시 법흥동,안동강변펠리시아아파트,116.4457,"52,000",7,2017.0,2024-08-31,1408.72,3.50,경상북도 안동시
10041448,경상북도 구미시 오태동,신한디아체101동102동,59.9800,"4,700",1,1999.0,2024-08-31,1408.72,3.50,경상북도 구미시
10041449,경상남도 양산시 동면 석산리,양산이지더원리버포레,78.2990,"34,200",15,2017.0,2024-08-31,1408.72,3.50,경상남도 양산시
10041450,전북특별자치도 남원시 월락동,양우내안애아파트,59.9896,"20,900",15,2016.0,2024-08-31,1408.72,3.50,전북특별자치도 남원시

In [15]:
# # 필요한 경우 병합된 데이터를 저장
# final.to_csv("C:/fintech_service/06_machine_learning/data/final_filter_apart_data.csv", index=False)